body {
	overflow: auto;
	background: #484f52 !important;
	scrollbar-color: #ccc #f5f5f5;
}

#mbxsgxktna {
	position: relative;
	margin: 0 0 15px;
}
.jcjymywwzd {
	padding: 15px 15px 0;
	margin: auto;
	overflow: -moz-hidden-unscrollable;
	box-sizing: border-box;
}
.upkmzjakmc {
	box-shadow: #000000 0px 0px 10px;
	background: #ffffff;
	margin: auto !important;
}

.similarTip {
	width: fit-content;
	font-size: 13px;
	padding: 4px 8px;
	white-space: nowrap;
	line-height: 20px;
	position: absolute;
	z-index: 9999;
	border: 1px solid #000000;
	background: #ffffff;
}

/* 阴影 */
.Shadow {
	width: calc(100% - 15px);
	height: 10px;
	box-shadow: inset 0px 12px 8px -12px #000;
	position: fixed;
	z-index:999;
}

/* 页码 */
.top_Num {
	position: absolute;
	min-width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 10px;
	top: 30px;
	color: #ffffff;
	border-radius: 3px;
	font-size: 12px;
	box-sizing: border-box;
	background: rgba(0,0,0,.6);
	display: none;
	z-index: 999;
}
.partition{
	margin:0 4px;
}
/* 目录 */
.Fixed {
	position: fixed !important;
	top: 15px !important;
	z-index: 999 !important;
	right: 32px;
}

.catalog {
	background: #323639;
	width: 40px;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 12px 2px 2px !important;
	box-shadow: 0px 0px 5px #35383b;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.toall_div a {
	color: #ffffff !important;
	width: 36px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

@font-face {
	font-family: 'iconfont';
	src: url('data:font/ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwR1NVQiCLJXoAAAE4AAAAVE9TLzI8Vkl8AAABjAAAAGBjbWFw/e/R7AAAAigAAAIuZ2x5Zjd6394AAAR4AAAFhGhlYWQtLMMRAAAA4AAAADZoaGVhCksGBQAAALwAAAAkaG10eEFx//8AAAHsAAAAPGxvY2EJfgsOAAAEWAAAACBtYXhwASAASgAAARgAAAAgbmFtZRCjPLAAAAn8AAACZ3Bvc3T7wJ9DAAAMZAAAAKoAAQAAA4D/gABcBnb/////Bm0AAQAAAAAAAAAAAAAAAAAAAA8AAQAAAAEAABnUgJBfDzz1AAsEAAAAAADj0L+KAAAAAOPQv4r///9/Bm0DgQAAAAgAAgAAAAAAAAABAAAADwA+AAcAAAAAAAIAAAAKAAoAAAD/AAAAAAAAAAEAAAAKADAAPgACREZMVAAObGF0bgAaAAQAAAAAAAAAAQAAAAQAAAAAAAAAAQAAAAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAQEXQGQAAUAAAKJAswAAACPAokCzAAAAesAMgEIAAACAAUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBmRWQAwOZA5k8DgP+AAAAD3ACBAAAAAQAAAAAAAAAAAAAAAAACBAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABnYAAAZ2AAAEAAAABID//wQFAAAEAAAAAAAABQAAAAMAAAAsAAAABAAAAXYAAQAAAAAAcAADAAEAAAAsAAMACgAAAXYABABEAAAABgAEAAEAAuZJ5k///wAA5kDmTP//AAAAAAABAAYAGAAAAAIABwALAAEACQAKAAMADgAMAA0ACAAEAAUABgAAAQYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAuAAAAAAAAAAOAADmQAAA5kAAAAACAADmQQAA5kEAAAAHAADmQgAA5kIAAAALAADmQwAA5kMAAAABAADmRAAA5kQAAAAJAADmRQAA5kUAAAAKAADmRgAA5kYAAAADAADmRwAA5kcAAAAOAADmSAAA5kgAAAAMAADmSQAA5kkAAAANAADmTAAA5kwAAAAIAADmTQAA5k0AAAAEAADmTgAA5k4AAAAFAADmTwAA5k8AAAAGAAAAAAAAAC4AZAB8AKIAyAEkAWwBqAHYAgYCHgJ0AqoCwgABAAD/fwQBA4EAGwAAASERNCYiBhURISIGFBYzIREUFjI2NREhMjY0JgO3/pIoQij+kiEoKCEBbihCKAFuISgoAckBbiEoKCH+kihCKP6SISgoIQFuKEIoAAAAAAcAAP/cA6kDJAAGAAoADgASABYAGgAeAAA3FTMVMzUjASERISchESEDMxUjATMVIxczFSMDMxUjXHtmZgJS/mYBmlL/AAEAFObm/hRmZrjn57hmZr1me+EB7P5mTQEA/mFmAZrnTWYCzecAAAIAAP+AA8ADgAAFAAkAAAEhETMRIQURIREDAP1AgAJA/joChgOA/UACQID9AAMAAAQAAAAAA+ACqgAEAAoADQAQAAABIREhEQERIRUzERMVNwU1BwJ7/nMCJP4JASqgoFv8m2ACqf2uAbv+cwH2oP6qAVa2W1u2YAAAAAAEAAD/hAMTA3cABAAKAA0AEAAAASERIREBESEVMxEBMycTIxcCe/5zAiT+CQEqoP6pt1xct1sCqf2uAbv+cwH2oP6qApZc/G5gAAAAAwAA/8cDuQMpABsAMQA9AAAlFwcnBgcGIyInJicmNTY3Njc2MzIXFhcWFRQGBzY1NCcmJyYiBwYHBhQXFhcWMzI2NwMVIxUzFTM1MzUjNQMAuD24MUA9Q2daVzM1AjU0V1lqZ1pXMzUtfFIpJ0NFokVDJykpJ0NFUTluK/txcU1xcb24PbgpFRQ1M1daZ2hYVjE0NTNXWmdBeBRSgFFFQycpKSdDRaJFQycpKycBbHFNdnZNcQAAAAEAAP+AA+kDgQAsAAAlNj0BNCYnJicmLwEBJiIGFB8BIRE0JiIGFREUFjMhBwYUFjI3ATI3Nj8BPgED4QgMDAgHBAkL/tcXPy8Yu/4EK0YrKyMCQrsYLz8XATEIBwQJCwQI7wgYBxIZDAgEAwQFASEXLz4YuwHVIysrI/3dJCu7GD4vFwEiAgIFBggYAAAAAAYAAP+AA+YDgAAFAAsAEQAXABwAIgAAASM1IzUzBSM1MxUjASM1MzUzBSM1MxUzASERIREBESEVMxED5Ta88vxsNvK8A5TyvDb9KPI2vAGF/isChv2wAV68Ao29NvPzNvw2Nr3z870DKP1EAgr+LAJQvP5sAAAAAAEAAP+VBmEDdQAXAAABLgEGBwkBLgEOAhYXARY3NjcBPgEnJgYnIVVVIf36/fshVVVDFxciApc1NjoxAoIcEgwNAzwiFxci/fsCBSIXF0NaWyH9cyMEBTECdiFbLC8AAAEAAP+WBm0DdwAWAAAlASYnJgcBDgEeAjY3CQEeAT4BNzYmBj79fjE5NzT9aCEYGEJVVSECBgIFIlRVQg0MEsYCdjEFBCP9cyFaW0MXFyICBf37IhcXQy4sWwAAAQAAAAAEAQHKAAsAABMhMhYUBiMhIiY0NkkDbiEoKCH8kiEoKAHJKEIoKEIoAAAABv///4AEgAOBAAMAEAAUACEAJQAyAAABIRUhJTIeARQOASIuATQ+AQEhFSElMh4BFA4BIi4BND4BASEVISUyHgEUDgEiLgE0PgEBgAMA/QD/ACM7IiI7RjsiIjsBIwMA/QD/ACM7IiI7RjsiIjsBIwMA/QD/ACM7IiI7RjsiIjsDQIDAIjtGOyIiO0Y7Iv5AgMAiO0Y7IiI7Rjsi/kCAwCI7RjsiIjtGOyIAAAcAAP+ABAYDgAADAAcACwAPABMAFwAbAAA3MxEjAzMVIwEhESEDMxEjBSEVISUhFSEDMxEjpGtrpKSkAXsB5v4a12trAlIBD/7x/oUBD/7x12trj/7xAQ9rArj+GgEP/vFna2trA1z+8QAAAAIAAAAAA3ICuQAEAAkAABMhNRchASEVJyGOAgDk/RwC5P4A5ALkAjx92/7mfdsAAAAAEgDeAAEAAAAAAAAAEwAAAAEAAAAAAAEACAATAAEAAAAAAAIABwAbAAEAAAAAAAMACAAiAAEAAAAAAAQACAAqAAEAAAAAAAUACwAyAAEAAAAAAAYACAA9AAEAAAAAAAoAKwBFAAEAAAAAAAsAEwBwAAMAAQQJAAAAJgCDAAMAAQQJAAEAEACpAAMAAQQJAAIADgC5AAMAAQQJAAMAEADHAAMAAQQJAAQAEADXAAMAAQQJAAUAFgDnAAMAAQQJAAYAEAD9AAMAAQQJAAoAVgENAAMAAQQJAAsAJgFjQ3JlYXRlZCBieSBpY29uZm9udGljb25mb250UmVndWxhcmljb25mb250aWNvbmZvbnRWZXJzaW9uIDEuMGljb25mb250R2VuZXJhdGVkIGJ5IHN2ZzJ0dGYgZnJvbSBGb250ZWxsbyBwcm9qZWN0Lmh0dHA6Ly9mb250ZWxsby5jb20AQwByAGUAYQB0AGUAZAAgAGIAeQAgAGkAYwBvAG4AZgBvAG4AdABpAGMAbwBuAGYAbwBuAHQAUgBlAGcAdQBsAGEAcgBpAGMAbwBuAGYAbwBuAHQAaQBjAG8AbgBmAG8AbgB0AFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBuAGYAbwBuAHQARwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABzAHYAZwAyAHQAdABmACAAZgByAG8AbQAgAEYAbwBuAHQAZQBsAGwAbwAgAHAAcgBvAGoAZQBjAHQALgBoAHQAdABwADoALwAvAGYAbwBuAHQAZQBsAGwAbwAuAGMAbwBtAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8BAgEDAQQBBQEGAQcBCAEJAQoBCwEMAQ0BDgEPARAABHBsdXMKYmlhb2NoaS0wMQtsaWFuZ2JlbnNodQhmaXRXaWR0aAlmaXRIZWlnaHQEem9vbQRqdW1wCG9yaWdpbmFsBmJvdHRvbQN0b3AEbWludQdjYXRhbG9nB3N1YmxpbmUEbW9kZQAAAAA=') format('truetype');
}

.toall_div {
	cursor: pointer;
	width: 36px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: relative;
	margin-bottom: 10px;
	border-radius: 2px;
	font-family: "iconfont" !important;
	font-size: 16px;
	color: rgba(255, 255, 255, .85);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.toall_div:hover,  .toall_div.active {
	background-color: #424649;
}

.toall_div:hover .tip {
	display: block;
}

.Switch::before {
	font-size: 26px;
	content: "\e647";
}

.layui_class::before {
	content: "\e648";
}
.subline::before {
	font-size: 18px;
	content: "\e649";
}

.page_nav_btn::before, .oripage_nav_btn::before {
	content: "\e646";
}

.red_a{
    border-bottom: 10px solid #f12828 !important; 
}
.orange_a{
	border-bottom: 10px dashed #f39800 !important;
}

.purple_a {
	border-bottom: 30px double #a08eee !important;
}

#plain-text-page .red_a {
	border-bottom: 1px solid #f12828 !important;
}

#plain-text-page .orange_a {
	border-bottom: 1px dashed #f39800 !important;
}

#plain-text-page .purple_a {
	border-bottom: 3px double #a08eee !important;
}

.pre_icon::before {
	font-size: 10px;
	content: "\e645";
}

.next_icon::before {
	font-size: 10px;
	content: "\e644";
}

.toall_Num::before {
	font-size: 14px;
	content: "\e641";
}

.tip {
	position: absolute;
	right: 40px;
	color: #000000;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #f2f2f2;
	border-radius: 3px;
	top: 0;
	display: none;
	font-size: 12px;
	z-index: 999;
}

.subline_tip{
	width:50px
}
.pre_tip,.next_tip {
	width: 50px;
}

.page_Num {
	position: relative;
	margin-bottom: 10px;
	height: 25px;
	line-height: 21px !important;
}

.page_Numtip {
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	right: 40px;
}

.toall_Numtip {
	width: 40px;
}

input {
	width: 28px;
	height: 21px;
	background: transparent;
	border: 1px solid #424649;
	text-align: center;
	color: #ffffff;
	font-size: 12px !important;
}

.input_pageNum:focus {
	background: #424649;
}

.report-type-label {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: fit-content;
	background: #4ca977;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 16px;
	padding: 4px 12px;
	border-radius: 0 0 10px 0;
}


/* 缩放按钮 */

.Fixed_bottom {
	bottom: 50px;
	position: fixed !important;
	right: 32px;
	z-index: 999;
}
.percent_list{
	width: 50px;
	margin-left: 200px;
	margin-bottom: 5px;
	display: none;
	font-size: 12px;
	text-align: center;
	background: #323639;
	box-shadow: 0px 0px 5px #35383b;
	-webkit-box-shadow: 0px 0px 5px #35383b;
	-moz-box-shadow: 0px 0px 5px #35383b;
}
.percent_list>a{
	color: #e6e6e6;
	display: inline-block;
	padding:10px 0 ;
	width: 100%;
}
.bottomButton{
	display: flex;
	align-items: center;
	gap: 10px;
}
.bottomButton>a{
	position: relative;
	width: 40px;
	height: 40px;
	background: #323639;
	border-radius: 50%;
	box-shadow: 0px 0px 5px #35383b;
	-webkit-box-shadow: 0px 0px 5px #35383b;
	-moz-box-shadow: 0px 0px 5px #35383b;
}

.allButton {
	display: none;
	background: #323639;
}

.allButton:hover {
	background: #1b1e1f;
}

.allButton:hover .bot_tip {
	display: block;
}

.bottom_img {
	font-family: "iconfont" !important;
	font-size: 16px;
	color: rgba(255, 255, 255, .85);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 40px;
	height: 40px;
	display: grid;
	place-items: center;

}
.original_img::before {
	content: '\e64c';
}

.fitPage_img::before {
	font-size: 22px;
	content: '\e64e';
}

.fitWidth_img::before {
	font-size: 22px;
	content: '\e64d';
}

.zoomOut_img::before {
	font-size: 14px;
	content: '\e643';
}

.zoomIn_img::before {
	font-size: 14px;
	content: '\e642';
}

.Collagen_img {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #e6e6e6;
	font-size: 12px;
}
.menuButton{
	margin: 0 0 0 15px !important;
}
.menu_img {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.menu_img::before {
	font-size: 20px;
	content: '\e64f';
}
.menuButton:hover{
	background: #1b1e1f;
}

.bot_tip {
	position: absolute;
	right: -10px;
	color: #000000;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background: #f2f2f2;
	border-radius: 3px;
	top: -35px;
	display: none;
	font-size: 12px;
	z-index: 999;
	text-align: center;
}
.zoomOut_tip,.zoomIn_tip,.menu_tip{
	right: 0;
	width:40px;
}
/* 遮罩 */
.zoom-shade,.Tip-shade{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	z-index: 9999;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
}
.zoom-shade .zoom-load{
	width: 50px;
	height: 50px;
	position:absolute; 
	top:35%;
	left:50%; 
	margin-top:-25px; 
	margin-left:-25px; 
}
.Tip-shade{
    opacity: 0.3;
}
.Tip-page{
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
	display: none;
	position: fixed;
    width: 500px;
	z-index: 999;
	text-align: center;
}
.Tip-title{
	text-align: left;
	padding: 0 80px 0 20px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #333;
	overflow: hidden;
	background-color: #F8F8F8;
	border-radius: 2px 2px 0 0;
	cursor: move;
	color: #e6e6e6;
	background: #343544;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.Tip-text{
	position: relative;
	overflow: auto;
	font-size: 16px;
	text-align: center;
	padding: 60px 45px;
}
 /* 折叠按钮 */
.btn_fold{
	width: 26px;
	height: 61px;
	position: absolute;
	top: 380px;
	right: 15px;
	z-index: 9999;
	cursor: pointer;
}
.btn_fold_right{
	display: block;
	width: 100%;
	height: 100%;
	background: url('../images/images.png') -36px -16px no-repeat;
}
.btn_fold_left{
	display: none;
	width: 100%;
	height: 100%;
	background: url('../images/images.png') -65px -16px no-repeat;
}

/* 纯文字版 */
.Modify_document {
	background-position: -106px -205px;
}

.Modify_document:hover {
	background-position: -146px -205px;
}

/* 文字校审 */
.proof_type{
	padding: 20px 0;
	border-bottom-width: 30px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}

.innerDuplicate {
	border-bottom-color: transparent;
}

.innerDuplicate.active {
	background: transparent;
}

.political{
	border-bottom-color: transparent;
}

.political.active {
	background: transparent;
}

.punctuation.active {
	background: rgba(89, 207, 154, .302);
}

.punctuation {
	border-bottom-color: #59cf9a;
}

.misspell.active {
	background: rgba(133, 147, 231, .302);
}

.misspell {
	border-bottom-color: #8593e7;
}

.senseWord.active {
	background: rgba(253, 228, 94, .302);
}

.senseWord{
	border-bottom-color: #fde45e;
}

.grammarOrder.active {
	background: rgba(101, 206, 222, .302);
}

.grammarOrder {
	border-bottom-color: #65cede;
}

.leadership.active {
	background: rgba(176, 134, 203, .302);
}

.leadership {
	border-bottom-color: #b086cb;
}

.knowledgeCheck.active {
	background: rgba(189, 207, 90, .302);
}

.knowledgeCheck {
	border-bottom-color: #bdcf5a;
}

.ignore {
	border-bottom-color: #c5c5c5;
}

.ignore.active{
	background: rgba(197, 197, 197, .302);
}

/*  色阶滑块*/
.slide-scrollbar {
	width: 43px;
	height: calc(100% - 32px);
	position: fixed;
	top: 8.5px;
	left: 0;
	z-index: 9999;
}

body.b-body .slide-scrollbar {
	height: calc(100% - 70px);
	top: 40px;
}

.slide-track {
	width: 28px;
	height: 100%;
	position: relative;
}
.slide-cover{
	width: 13px;
	height: calc(100% - 11px);
	position: relative;
	top: 6.5px;
	left: 0;
	cursor: pointer;
	box-sizing: border-box;
	font-size: 0;
	padding: 0;
	margin: 0;
	opacity:0;
}
.slide-track-item {
	width: 13px;
	height: calc(100% - 11px);
	position: absolute;
	background: #88c183;
	cursor: pointer;
	top: 6.5px;
	left: 13px;
	box-sizing: border-box;
	font-size: 0;
	padding: 0;
	margin: 0;
}
.slide-track > div {
	font-size: 0;
	padding: 0;
	margin: 0;
}
.slide-track > div > div {
	padding: 0;
	margin: 0;
}
.slide-thumb {
	width: 7px;
	height: 13px;
	background: url("../images/image.png") no-repeat;
  	background-position: -111px -33px;
	position: absolute;
	top: 0;
	left: 30px;
	z-index: 9;
}
.slide-thumb:hover{
	cursor: pointer;
}
.slide_color {
	width: 100%;
}
.slide_color.red {
	background: #ef6e87;
}
.slide_color.orange {
	background: #e3b465;
}
.slide_color.purple {
	background: #a08eee;
}
.slide_color.grey {
	background: #b0b0b0;
}
.slide_color.white {
	background: #88c183;
}